body {
  background: #ccc;
  margin: 50px 0 50px 0 !important;
  transform: scale(0.5);
  animation: scale_map;
  transition: transform 0.3s ease-in-out;
}

@keyframes scale_map {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
#project_3 {
  display: flex;
  justify-content: center;
}
#project_3 .map_container {
  margin-right: auto;
  height: auto;
  width: 1000px;
  padding: 20px;
  transform: rotate3d(1, 1, 1, 19deg) skew(0deg, 348deg);
}
#project_3 .map_container .map_body {
  border: 1px solid #c5c5c5;
  display: flex;
  gap: 2rem;
}
#project_3 .map_container .map_body .box {
  height: 100px;
  flex-grow: 2;
}
#project_3 .map_container .property_container {
  border: 1px solid #1e90ff;
  padding: 20px;
  width: 100%;
}
#project_3 .map_container .property_container .property_body {
  grid-gap: 30px;
  grid-template-columns: repeat(11, 12.5%);
}
#project_3 .map_container .property_container .property_body .property_item {
  border: 1px solid #333333;
}
#project_3 .map_container .property_container .property_body .property_box {
  border: 1px solid #fff;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.ribbon {
  position: absolute;
}

.content-end {
  align-items: end;
  align-content: end;
}

.test1 {
  position: relative;
}
.test1:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test1 .content-box {
  display: grid;
  grid-template-rows: 70px 120px;
  position: relative;
  overflow: hidden;
}
.test1 .content-box .item {
  border-right: 1px solid #000;
  border-top: 0;
}
.test1 .content-box .item:not(:nth-child(1)) {
  border-left: 0;
}
.test1 .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 10fr 3fr 3fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test1 .content-box .top:before {
  position: absolute;
  content: "";
  width: 58%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 349deg);
  top: -45px;
  right: 0;
}
.test1 .content-box .top:after {
  position: absolute;
  content: "";
  width: 58%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 321deg);
  top: -26px;
  left: -34px;
  z-index: 2;
}
.test1 .content-box .top .ribbon:is(.ribbon-top):before {
  position: absolute;
  content: "";
  width: 23px;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 2, 1, 325deg);
  top: -39px;
  left: 24px;
}
.test1 .content-box .top .ribbon:is(.ribbon-left):before {
  position: absolute;
  content: "";
  width: 65px;
  height: 100px;
  background: #ffffff;
  border-right: 1px solid #000;
  transform: rotate3d(0, 0, 1, 339deg);
  bottom: -92px;
  left: -59px;
  z-index: 1;
}
.test1 .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 10fr;
  position: relative;
  overflow: hidden;
}
.test1 .content-box .center:before {
  border-bottom-right-radius: 1px;
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  background: #ffffff;
  border-right: 1px solid #000;
  transform: rotate3d(1, 1, 1, 326deg);
  top: -6px;
  left: -79px;
  z-index: 2;
}
.test1 .content-box .center:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 60%;
  background: #ffffff;
  border-right: 1px solid #000;
  transform: rotate3d(1, 1, 1, 328deg);
  bottom: -20px;
  left: -51px;
  z-index: 1;
}
.test1 .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test1 .content-box .center .item:not(:nth-child(1)) {
  border-top: 0;
}
.test1 .content-box .center .item:nth-child(1) {
  border-top: 1px solid #000;
}

.test7,
.test6,
.test2 {
  position: relative;
}
.test7:before,
.test6:before,
.test2:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test7 .content-box,
.test6 .content-box,
.test2 .content-box {
  display: grid;
  grid-template-rows: 80px 100px 50px;
}
.test7 .content-box .top,
.test6 .content-box .top,
.test2 .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test7 .content-box .top .item-left,
.test6 .content-box .top .item-left,
.test2 .content-box .top .item-left {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 25%);
  position: relative;
  overflow: hidden;
}
.test7 .content-box .top .item-left:before,
.test6 .content-box .top .item-left:before,
.test2 .content-box .top .item-left:before {
  position: absolute;
  content: "";
  width: 130%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 341deg);
  top: -23px;
  left: -14px;
}
.test7 .content-box .top .item-left .item,
.test6 .content-box .top .item-left .item,
.test2 .content-box .top .item-left .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.test7 .content-box .top .item-left .item:not(:nth-child(1)),
.test6 .content-box .top .item-left .item:not(:nth-child(1)),
.test2 .content-box .top .item-left .item:not(:nth-child(1)) {
  border-left: 0;
}
.test7 .content-box .top .item-left .item:nth-child(1),
.test6 .content-box .top .item-left .item:nth-child(1),
.test2 .content-box .top .item-left .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test7 .content-box .top .item-right,
.test6 .content-box .top .item-right,
.test2 .content-box .top .item-right {
  display: grid;
  grid-template-rows: 85% 15%;
  position: relative;
  overflow: hidden;
}
.test7 .content-box .top .item-right:before,
.test6 .content-box .top .item-right:before,
.test2 .content-box .top .item-right:before {
  position: absolute;
  content: "";
  width: 113%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 335deg);
  top: -34px;
  left: -10px;
}
.test7 .content-box .top .item-right .item-right-top,
.test6 .content-box .top .item-right .item-right-top,
.test2 .content-box .top .item-right .item-right-top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 25%);
}
.test7 .content-box .top .item-right .item-right-top .item,
.test6 .content-box .top .item-right .item-right-top .item,
.test2 .content-box .top .item-right .item-right-top .item {
  border-right: 1px solid #000;
}
.test7 .content-box .top .item-right .item-right-top .item:not(:nth-child(1)),
.test6 .content-box .top .item-right .item-right-top .item:not(:nth-child(1)),
.test2 .content-box .top .item-right .item-right-top .item:not(:nth-child(1)) {
  border-left: 0;
}
.test7 .content-box .top .item-right .item-right-bottom,
.test6 .content-box .top .item-right .item-right-bottom,
.test2 .content-box .top .item-right .item-right-bottom {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, 100%);
}
.test7 .content-box .top .item-right .item-right-bottom .item,
.test6 .content-box .top .item-right .item-right-bottom .item,
.test2 .content-box .top .item-right .item-right-bottom .item {
  border: 1px solid #000;
  border-left: 0;
}
.test7 .content-box .center,
.test6 .content-box .center,
.test2 .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test7 .content-box .center .item,
.test6 .content-box .center .item,
.test2 .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test7 .content-box .center .item:nth-child(even),
.test6 .content-box .center .item:nth-child(even),
.test2 .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test7 .content-box .center .item:nth-child(odd),
.test6 .content-box .center .item:nth-child(odd),
.test2 .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test7 .content-box .bottom,
.test6 .content-box .bottom,
.test2 .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test7 .content-box .bottom .item,
.test6 .content-box .bottom .item,
.test2 .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test7 .content-box .bottom .item:nth-child(1),
.test6 .content-box .bottom .item:nth-child(1),
.test2 .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.test3 {
  position: relative;
}
.test3:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test3 .content-box {
  display: grid;
  grid-template-rows: 60px 150px 50px;
}
.test3 .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
  position: relative;
  overflow: hidden;
}
.test3 .content-box .top:after {
  position: absolute;
  content: "";
  width: 120%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 335deg);
  top: -34px;
  left: -22px;
}
.test3 .content-box .top .item-left {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 25%);
}
.test3 .content-box .top .item-left .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.test3 .content-box .top .item-left .item:not(:nth-child(1)) {
  border-left: 0;
}
.test3 .content-box .top .item-left .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test3 .content-box .top .item-right {
  display: grid;
  grid-template-rows: 65% 35%;
}
.test3 .content-box .top .item-right .item-right-top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 25%);
}
.test3 .content-box .top .item-right .item-right-top .item {
  border-right: 1px solid #000;
}
.test3 .content-box .top .item-right .item-right-top .item:not(:nth-child(1)) {
  border-left: 0;
}
.test3 .content-box .top .item-right .item-right-bottom {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, 100%);
}
.test3 .content-box .top .item-right .item-right-bottom .item {
  border: 1px solid #000;
  border-left: 0;
}
.test3 .content-box .top .item-right .item-right-bottom .item:nth-child(1) {
  border-bottom: 0;
}
.test3 .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test3 .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test3 .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test3 .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test3 .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test3 .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test3 .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.test4 {
  position: relative;
}
.test4:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test4 .content-box {
  display: grid;
  grid-template-rows: 60px 190px 50px;
}
.test4 .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 9fr 3fr 3fr 3fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test4 .content-box .top:after {
  position: absolute;
  content: "";
  width: 120%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 335deg);
  top: -34px;
  left: -22px;
}
.test4 .content-box .top .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test4 .content-box .top .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test4 .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test4 .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test4 .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test4 .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test4 .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test4 .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test4 .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.test5 {
  position: relative;
}
.test5:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test5 .content-box {
  display: grid;
  grid-template-rows: 60px 230px 50px;
}
.test5 .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 9fr 3fr 3fr 3fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test5 .content-box .top:after {
  position: absolute;
  content: "";
  width: 120%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 335deg);
  top: -34px;
  left: -22px;
}
.test5 .content-box .top .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test5 .content-box .top .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test5 .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test5 .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test5 .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test5 .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test5 .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test5 .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test5 .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.test6 {
  position: relative;
}
.test6:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test6 .content-box {
  display: grid;
  grid-template-rows: 80px 260px 50px;
}
.test6 .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test6 .content-box .top .item-left {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 5fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test6 .content-box .top .item-left:before {
  position: absolute;
  content: "";
  width: 130%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 341deg);
  top: -23px;
  left: -14px;
}
.test6 .content-box .top .item-right {
  display: grid;
  grid-template-rows: 85% 15%;
  position: relative;
  overflow: hidden;
}
.test6 .content-box .top .item-right:before {
  position: absolute;
  content: "";
  width: 113%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 335deg);
  top: -34px;
  left: -10px;
}
.test6 .content-box .top .item-right .item-right-top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 25%);
}
.test6 .content-box .top .item-right .item-right-bottom {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, 100%);
}
.test6 .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test6 .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test6 .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test6 .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test6 .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test6 .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test6 .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.test7 {
  position: relative;
}
.test7:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test7 .content-box {
  display: grid;
  grid-template-rows: 80px 290px 50px;
}
.test7 .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test7 .content-box .top .item-left {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 5fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test7 .content-box .top .item-left:before {
  position: absolute;
  content: "";
  width: 130%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 341deg);
  top: -23px;
  left: -14px;
}
.test7 .content-box .top .item-right {
  display: grid;
  grid-template-rows: 85% 15%;
  position: relative;
  overflow: hidden;
}
.test7 .content-box .top .item-right:before {
  position: absolute;
  content: "";
  width: 113%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 335deg);
  top: -34px;
  left: -10px;
}
.test7 .content-box .top .item-right .item-right-top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 25%);
}
.test7 .content-box .top .item-right .item-right-bottom {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, 100%);
}
.test7 .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test7 .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test7 .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test7 .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test7 .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test7 .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test7 .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.test8 {
  position: relative;
}
.test8:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test8 .content-box {
  display: grid;
  grid-template-rows: 80px 320px 50px;
}
.test8 .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test8 .content-box .top .item-left {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 5fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test8 .content-box .top .item-left:before {
  position: absolute;
  content: "";
  width: 130%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 341deg);
  top: -23px;
  left: -14px;
}
.test8 .content-box .top .item-left .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.test8 .content-box .top .item-left .item:not(:nth-child(1)) {
  border-left: 0;
}
.test8 .content-box .top .item-left .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test8 .content-box .top .item-right {
  display: grid;
  position: relative;
  overflow: hidden;
}
.test8 .content-box .top .item-right:before {
  position: absolute;
  content: "";
  width: 113%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 335deg);
  top: -34px;
  left: -10px;
}
.test8 .content-box .top .item-right .item-right-top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 25%);
}
.test8 .content-box .top .item-right .item-right-top .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.test8 .content-box .top .item-right .item-right-top .item:not(:nth-child(1)) {
  border-left: 0;
}
.test8 .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test8 .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test8 .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test8 .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test8 .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test8 .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test8 .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.test9 {
  position: relative;
}
.test9:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test9 .content-box {
  display: grid;
  grid-template-rows: 60px 365px 50px;
}
.test9 .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 9fr 3fr 3fr 3fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test9 .content-box .top:after {
  position: absolute;
  content: "";
  width: 120%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #000;
  transform: rotate3d(1, 1, 1, 335deg);
  top: -34px;
  left: -22px;
}
.test9 .content-box .top .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test9 .content-box .top .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test9 .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test9 .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test9 .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test9 .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test9 .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test9 .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test9 .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.test10 {
  position: relative;
  grid-template-rows: 500px auto;
}
.test10 .property_body_top {
  background: cyan;
  height: 100%;
}
.test10:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test10 .property_body_top .content-box {
  display: grid;
  grid-template-rows: 60px 365px 50px;
}
.test10 .property_body_top .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test10 .property_body_top .content-box .top .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.test10 .property_body_top .content-box .top .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test10 .property_body_top .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test10 .property_body_top .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test10 .property_body_top .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test10 .property_body_top .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test10 .property_body_top .content-box .bottom {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
}
.test10 .property_body_top .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test10 .property_body_top .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test10 .property_body_bottom .content-box {
  display: grid;
  grid-template-rows: 60px 365px 50px;
}
.test10 .property_body_bottom .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test10 .property_body_bottom .content-box .top .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.test10 .property_body_bottom .content-box .top .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test10 .property_body_bottom .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test10 .property_body_bottom .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test10 .property_body_bottom .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test10 .property_body_bottom .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test10 .property_body_bottom .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test10 .property_body_bottom .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test10 .property_body_bottom .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.test11 {
  position: relative;
}
.test11:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  border-right: 2px dotted #000;
  top: 0;
  right: -16px;
  bottom: 0;
  z-index: 1;
}
.test11 .property_body_top .content-box {
  display: grid;
  grid-template-rows: 60px 330px 35px 50px;
}
.test11 .property_body_top .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
  position: relative;
  overflow: hidden;
}
.test11 .property_body_top .content-box .top .item {
  border: 1px solid #000;
}
.test11 .property_body_top .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 50%);
}
.test11 .property_body_top .content-box .center .item {
  border-bottom: 1px solid #000;
}
.test11 .property_body_top .content-box .center .item:nth-child(even) {
  border-right: 1px solid #000;
}
.test11 .property_body_top .content-box .center .item:nth-child(odd) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.test11 .property_body_top .content-box .bottom_1 {
  display: grid;
  grid-template-columns: repeat(1, 100%);
}
.test11 .property_body_top .content-box .bottom_1 .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test11 .property_body_top .content-box .bottom_1 .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test11 .property_body_top .content-box .bottom {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
}
.test11 .property_body_top .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test11 .property_body_top .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test11 .property_body_bottom .content-box {
  display: grid;
  grid-template-rows: 60px 420px;
}
.test11 .property_body_bottom .content-box .top {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 2fr 2fr 2fr 4fr;
  position: relative;
  overflow: hidden;
}
.test11 .property_body_bottom .content-box .top .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.test11 .property_body_bottom .content-box .top .item:nth-child(1) {
  border-left: 1px solid #000;
}
.test11 .property_body_bottom .content-box .center {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, 100%);
}
.test11 .property_body_bottom .content-box .center .item {
  border: 1px solid #000;
  border-top: 0;
}
.test11 .property_body_bottom .content-box .bottom {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 3fr 3fr 5fr;
}
.test11 .property_body_bottom .content-box .bottom .item {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 0;
}
.test11 .property_body_bottom .content-box .bottom .item:nth-child(1) {
  border-left: 1px solid #000;
}

.property_bottom_body .property_box {
  grid-template-columns: repeat(86, 1.7%);
}
.property_bottom_body .property_box .item {
  height: 50px;
  border: 1px solid #000;
}/*# sourceMappingURL=project3.css.map */